<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>
          <h1><%=usuario.id_usuario%></h1>
    <ul>
        <li>
            mail: <%=usuario.mail%> 
        </li>
        <li>
            pais: <%=usuario.pais%> 
        </li>
        <li>
            pass: <%=usuario.pass%> 
        </li>
        <li>
            fullname: <%=usuario.fullname%> 
        </li>
        <!--FALTA AVATAR-->
    </ul>
    <a href="/user/usuarios/editar/<%=usuario.id_usuario%>">
<button>Editar</button>
</a>
<form action="/usuarios/borrar/<%=usuario.id%>" method="POST">
    <button 
    type="submit">Borrar</button>
</form>
<footer class="footer">

    <%- include ("./partials/footer.ejs")  %>

</footer>
</body>
</html>