<html>
    <body>

    
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<header>

    <%- include ("./partials/header.ejs")  %>
    
</header>
<h1>Listado de productos</h1>
<ul>
    <% for (let i = 0; i < productos.length; i++)  {%> 
        <li>
            <a href="/product/productos/<%=productos[i].id_producto%>">
            <%=productos[i].id_producto%>
        </a>
        </li>
        <% } %> 
</ul> 
<footer class="footer">

    <%- include ("./partials/footer.ejs")  %>

</footer>
</body>
</html>